Options -MultiViews
RewriteEngine On
RewriteBase /
RewriteRule ^profilo/(.*?)/$ user.php?param=$1
RewriteRule ^registrazione/ registration.php
RewriteRule ^dashboard/ dashboard.php
RewriteRule ^login/ login.php
RewriteRule ^logout/ logout.php
RewriteRule ^viaggi/(.*?)/$ trips.php?param=$1

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>