.dashboard header {
	width: 100%;
	background: #FFFFFF;
	padding: 15px 0;
	border-bottom: 1px solid #CCCCCC;
}

.dashboard .row {
	margin: 0;
}

.dashboard input::placeholder {
	text-align: center;
}

.dashboard i.fa {
	font-size: 28px;
}

.dashboard header.mobile {
	display: none;
}

.dashboard header .row > div {
	text-align: center;
}

.dashboard header img {
	max-width: 150px;
}

.dashboard_content {
	width: 80%;
	margin: auto;
	margin-top: 70px;
}

.pac-container {
	z-index: 99999999999 !important;
}

@media screen and (max-width: 600px) {
	.dashboard header.mobile {
		display: block;
	}

	.dashboard header.desktop {
		display: none;
	}
	.dashboard_content {
		width: 95%;
	}
}