.navbar {
	height: 80px;
	padding: 0 50px;
}

.navbar .fa.fa-home {
	font-size: 1.5rem;
	color: #09F;
}

.navbar .navbar-brand img {
	width: 200px;
	height: auto;
}

.homepage {
	width: 100vw;
	height: calc(100vh - 80px);

	background: url(../images/homepage-bg.jpg) no-repeat center center;
	background-size: cover;
}

.homepage hr {
	border-color: #FFFFFF;
}

.homepage > .row {
	margin: 0;
	width: 80%;
	margin: auto;
	padding-top: 50px;
}

.signin-homepage {
	background: rgba(0,0,0,0.8);
	border-radius: 0 0 6px 6px;
	color: #FFFFFF;
}

.signin-form {
	width: 100%;
	margin: auto;
	margin-top: 20px;
	margin: 25px 50px 25px 50px;
}

.signin-logo {
	text-align: center;
	margin-bottom: 20px;
}

.signin-form.loggedIn {
	text-align: center;
}

.signin-form .avatar {
	width: 50%;
	height: auto;
	margin: auto;
	border-radius: 50%;
}

.signin-form .signin-logo h1 {
	font-size: 28px;
}

.signin-form .signin-links {
	text-align: center;
}

.container {
	width: 90%;
	margin: auto;
	margin-top: 50px;
}

.container .row .image {
	height: 250px;
	width: auto;
	margin: 25px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.container .row .image img {
	width: 100%;
	height: auto;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer {
	width: 60%;
	margin-top: 30px;
	margin: auto;
	padding: 15px 0px;
}

footer .row {
	margin: 0;
}

@media screen and (max-width: 600px) {
	.homepage {
		height: auto;
	}

	.homepage h1 {
		font-size: 1.75rem;
	}

	.homepage h5 {
		font-size: 1rem;
	}

	.homepage .row {
		width: 95%;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.row img {
		width: 100%;
	}

	footer {
		width: 95%;
	}

	.homepage .signin-form {
		width: 100%;
		margin: 10px 15px 10px 15px;
	}
}